<!DOCTYPE html>
<html lang="en">
	<%- include('shared/head'); %>
<body>
	<%- include('shared/navbar'); %>
	<main class="container">
		<div class="mainheading">
			<h1 class="sitetitle">Publish your dataset</h1>
		</div>
		<form id="datasetForm" action="/publish_dataset" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control mb-3" id="title" name="title" placeholder="Dataset title" required maxlength="20">

				<label for="pathImg">Cover Image</label>
				<input type="file" class="form-control mb-3" id="pathImg" name="pathImg" accept=".jpeg, .png, .jpg" required>
                
				<label for="description">Description</label>
				<textarea class="form-control mb-3" id="description" name="description" rows="5" placeholder="Describe images resolution, source of the data and what they are about" required minlength="50" maxlength="150"></textarea>

				<%- include('shared/drag_n_drop') %>
			</div>

			<div class="d-flex justify-content-center">
				<button type="submit" class="operation-btn">Upload</button>
			</div>
		</form>
	</main>

	<%- include('shared/footer'); %>
	<%- include('shared/script'); %>

    <script src="/javascripts/drag_n_drop_area.js"></script>
</body>
</html>
