<!DOCTYPE html>
<html lang="en">
	<%- include('shared/head'); %>

	<body>

		<%- include('shared/navbar'); %>
	
		<section class="mainheading">
			<h1 class="sitetitle mb-4">Learn about Computer Vision</h1>
			<div class="search-container">
				<form class="form-inline search-form d-flex align-items-center" id="searchForm" action="/search/<%= type %>" method="get">
					<input class="form-control search-input" type="text" name="searchTitle" placeholder="Search by title">
					<button class="btn btn-outline-dark search-btn" type="submit" id="searchButton">
						<svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
							<path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
						</svg>
					</button>
				</form>
			</div>
			
		</section>
			
		<main >
			<div class="container">
				<div class="section-title d-flex justify-content-between">
						<h2 id="articles" class="section-title-item <%= type === 'articles' ? 'active': '' %>  section-center">Articles</h2>
						<h2 id="datasets" class="section-title-item <%= type === 'datasets' ? 'active': '' %> section-center">Datasets</h2>
						<h2 id="creators" class="section-title-item <%= type === 'creators' ? 'active': '' %> section-center">Creators</h2>
				</div>
				
				<% if (found.length !== 0) { %>
					<div class="listrecent">
	
					<% if (type === 'articles') { %>
	
						<%- include('search_block/articles'); %>
	
					<% } else if (type === 'datasets') { %>
	
						<%- include('search_block/datasets'); %>
	
					<% } else { %>
						
						<%- include('search_block/creators'); %>
	
					<% } %>
					</div>
				<% } else { %>
					
					<h2 class="text-center">No <%= type %> found! :/</h2>
	
				<% } %>
			</div>

		</main>
		<%- include('shared/footer'); %>
		<%- include('shared/script'); %>
		<script src="/javascripts/search_type.js"></script>
	</body>
</html>
